obj/
bin/
TrabFinalArq2.layout
TrabFinalArq2.depend
arqDados
.vscode/
Arq2.dir/
CMakeFiles/
Debug/
x64/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
Arq2.sln
Arq2.vcxproj
Arq2.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
CMakeLists.TXT
TRABFINALarq2.layout
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
.gitignore